.btn {
  &,
  &:link,
  &:visited {
    border: none;
    display: inline-block;
    background-color: transparent;
    font-family: $font-title;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.8rem 2.4rem;
    cursor: pointer;
    transition: $transition-default;

    @include respond(md) {
      font-size: 1.4rem;
      padding: 1.2rem 3rem;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &--outline-white {
    color: $color-white;
    border: 3px solid $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-primary-dark;
    }
  }
}
